footer
  .float-sm-left.info-left
      p Kênh Thông Tin Từ Chúng Tôi
      .contact-icons
        each icon in icons
          a(href='#')
            i(class=icon)
  .d-flex.justify-content-end.info-right
      label(for="") Nhận Thông Tin Từ Chúng Tôi
      .input-group.mb-3
        input.form-control(type='text')
        .input-group-append
          button.btn.btn-success(type="submit")
              i.fas.fa-paper-plane
  .clearfix
  .row.our--information
    .float-sm-left
      h1
        | GREEN
        span SHOP
      h3 Món Quà Từ Thiên Nhiên
      p
        | Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
      p
        i.fas.fa-mobile-alt |  Điện thoại : (84-4) 66.558.868 
      p
        i.fas.fa-envelope |Email: info@dkt.com.vn
    .float-sm-right
      ul
        p Thông Tin Khách Hàng
        each item in cliInfo
          li
            i.fas.fa-chevron-right
              a(href='#')=item 
      ul
        p Hỗ Trợ Dịch vụ
        each item in supports
          li
            i.fas.fa-chevron-right
              a(href='#')=item
      ul
        p Chính sách ưu đãi
        each item in policies
          li
            i.fas.fa-chevron-right
              a(href='#')=item
      ul
        p Tin Tức
        each item in news
          li
            i.fas.fa-chevron-right
              a(href='#')=item
    .clearfix
  .row.menu--bottom
    .col-sm-6.info--1
      each item in direct
        p=item
    .col-sm-6.info--2
      each item in fabs
        i(class=fab)
  .row.author
    .col-sm-12
      p thiết kế  bởi Bizweb ©